---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import SocialMediaButtons from "../components/SocialMediaButtons.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import EmailIcon from "../components/icons/EmailIcon.astro";
import Projects from "../components/Projects.astro";
import Code from "../components/icons/CodeIcon.astro";
---

<Layout
	title="Portfolio Pisani Valentin - Web Developer"
	description="Contact Pisani Valentin to create your web application."
>
	<main>
		<section
			class="flex flex-col mx-auto lg:w-[740px] py-20 justify-center items-center"
		>
			<h1
				class="font-bold text-5xl flex flex-row gap-x-4 pb-4 justify-center"
			>
				Hi! I'm Valentin Pisani <div
					class="flex justify-center items-center"
				>
					<Badge>Ready to work.</Badge>
				</div>
			</h1>
			<h2 class="text-xl opacity-80 w-9/12">
				Student in Information Systems Engineering. I'm a Web Developer.
				From
				<span class="text-cyan-200">Buenos Aires, Argentina.</span>
			</h2>
			<ul class="flex gap-x-16 justify-evenly pt-4">
				<li>
					<SocialMediaButtons
						href="https://www.linkedin.com/in/valentin-pisani/"
					>
						<LinkedInIcon class="size-6" />
						LinkedIn
					</SocialMediaButtons>
				</li>
				<li>
					<SocialMediaButtons
						href="https://github.com/PisaniValentin"
					>
						<GitHubIcon class="size-6" />
						GitHub
					</SocialMediaButtons>
				</li>
				<li>
					<SocialMediaButtons
						href="mailto:valentin.pisani@hotmail.com"
					>
						<EmailIcon class="size-6" />
						valentin.pisani@hotmail.com
					</SocialMediaButtons>
				</li>
			</ul>
		</section>
		<section>
			<h2 class="flex text-4xl">
				<Code class="size-10 gap-x-6" />Projects
			</h2>
			<Projects />
		</section>
	</main>
</Layout>
