<header
    class="flex fixed justify-between items-center w-full p-4 opacity-90 backdrop-blur-xl z-10"
>
    <img src="" alt="profile_img" />
    <nav class="flex gap-x-5 md:gap-x-10">
        <a
            class="border border-white p-1 rounded-sm hover:scale-110 transition"
            href="#aboutMe">About Me</a
        >
        <a
            class="border border-white p-1 rounded-sm hover:scale-110 transition"
            href="#projects">Projects</a
        >
        <a
            class="border border-white p-1 rounded-sm hover:scale-110 transition"
            href="#education">Education</a
        >
    </nav>
</header>
