<header
    class="flex fixed justify-end items-center w-full p-4 opacity-90 backdrop-blur-xl z-10"
>
    <nav class="flex gap-x-5 md:gap-x-10">
        <a
            class="border-2 border-black dark:border-white p-1 rounded-md hover:scale-110 transition"
            href="#aboutMe">About Me</a
        >
        <a
            class="border-2 border-black dark:border-white p-1 rounded-md hover:scale-110 transition"
            href="#projects">Projects</a
        >
        <a
            class="border-2 border-black dark:border-white p-1 rounded-md hover:scale-110 transition"
            href="#education">Education</a
        >
    </nav>
</header>
