<header class="flex justify-between items-center w-[1000px] py-4 opacity-90">
    <img src="" alt="profile_img">
    <nav class="flex gap-x-10">
        <a href="">About Me</a>
        <a href="">Contact</a>
        <a href="">Projects</a>
    </nav>
</header>